/* animation for facilities */
.autoshow {
    animation: text-appear both;
    animation-timeline: view(10% 5%);
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* image */
.imagereveal {
    animation: imagereveal both;
    animation-timeline: view(10% 5%);
}

@keyframes imagereveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }

    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0;
    }
}

/*animation for cources*/
.hero {
    animation: text-appear both;
    animation-timeline: view(10% 5%);
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
